@import "./variables";
@import "./mixins";
@import "./navBar";
@import "./container";
@import "./footer";

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: $primaryColor;
    font-size: medium;
}

.anchor-hover {
    &:hover {
        background-color: rgb(235, 199, 0);
        padding: 5px;
        border-radius: 5px;
    }
}